:root {
  --color1: rgba(9, 46, 32, 1);
  --color2: rgba(0, 0, 0, 0.1);
  --color3: rgba(75, 74, 73, 1);
  --color4: rgba(238, 232, 213, 1);
  --color5: rgba(255, 255, 255, 1);
}
body {
  display: grid;
  grid-template-columns: 10vw 5vw 80vw;
  line-height: 2em;
  margin: 0;
  padding: 0;
}

main {
  color: var(--color1);
  grid-column: 3/4;
}

section {
  background-color: var(--color2);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 2vw;
}

section header {
  background-color: var(--color1);
  border-radius: 40px 40px 0px 0px;
  color: var(--color4);
  
  padding: 2vw;
}

blockquote {
  background-color: var(--color2);
  border: solid 0.2vw;
  padding: 1vh;
}

code {
  background-color: var(--color3);
  color: var(--color5);
  display: block;
  max-width: 100vw;
  padding: 1.5vh;
}

pre {
  text-align: left;
  background-color: var(--color5);
}

a:link {
  color: var(--color3);
}

a:hover {
  color: var(--color3);
}

#navbar {
  align-items: center;
  background-color: var(--color4);
  border-right: solid;
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  grid-column: 1/2;
  height: 100vh;
  position: fixed;
}

@media(max-width: 500px){
  reset * {
    margin: 0;
    padding: 0;
  }
  body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2em;
  }

  main {
    align-self: center;
  }
}
