:root {
  --color1: rgba(9, 46, 32, 1);
  --color2: rgba(0, 0, 0, 0.1);
  --color3: #4b4a49;
  --color4: #eee8d5;
}
body {
  display: grid;
  grid-template-columns: 10vw 5vw 80vw;
  line-height: 2em;
  margin: 0;
  padding: 0;
}

main {
  color: var(--color1);
  grid-column: 3/4;
}

section {
  background-color: var(--color2);
  border-radius: 40px;
  margin: 20px;
  padding: 2vw;
}

section header {
  background-color: var(--color1);
  border-radius: 40px 40px 0px 0px;
  margin: -20px;
  padding: 2vw;
}

code {
  background-color: var(--color3);
  color: var(--color4);
  padding: 1.5vh;
}

pre {
  display: block;
  font-size: 0.9em;
  max-width: 20vw;
}



#navbar {
  align-items: center;
  background-color: var(--color4);
  border-right: solid;
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  grid-column: 1/2;
  height: 100vh;
  position: fixed;
}

@media(max-width: 500px){
  reset * {
    margin: 0;
    padding: 0;
  }
  body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2em;
  }

  main {
    align-self: center;
  }
}
